# This is the default configuration file for sipD.
# You can add custom stuff here for your hooks, too!
# Just import the config from main into your hook, and it *should* work.

[general]
run_hooks      = true
check_interval = 5000 # in ms

[cloudflare]
token              = "ApKXWVES8iX0rB_vwpUih_081A4i8mdFqTbUCp4O"
zone_id            = "b33167e8cb19473119755df87425f31b"
records_to_update  = [ # a list of just subdomains
    "sipd",
]

#[example_hook_config]
#is_the_code_horrible = "probably"
#does_it_work_though  = "yea"